<div class="container">
  <div class="row main-sec py-5">
    <div class="col-12 col-lg-6 d-flex flex-column flex-md-row justify-content-around gab-3 py-4">
      <img src="../../../../assets/img/about-banner.png" class="first-img me-3" alt=""
        style="width: 293px; height: 435px;">
      <img src="../../../../assets/img/female_shopping_from_phone.jpg" class="sec-img mt-4"
        style="width: 293px; height: 435px;" alt="">
    </div>
    <div class="col-12 col-lg-6 py-4 ">
      <!-- subtitle -->
      <div class="h6 mt-3">
        <p class="sub-title p-1">About Us</p>
      </div>
      <!-- title -->
      <div class="fs-4">
        Mared <br>
        What is e-commerce business?
      </div>
      <!-- description -->
      <div class="dec mt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti saepe molestiae consectetur! Suscipit itaque
        et modi corrupti officia. Sint similique omnis laborum nam ipsa libero vero sit ex quidem, optio quas eos est
        debitis at suscipit, recusandae deserunt? Molestiae, deleniti.
      </div>
      <!-- icons -->
      <div class="icon-section mt-3">
        <div class="d-flex  justify-content-start">
          <i class="fas fa-shipping-fast mt-1" style="color: #1A936F;"></i>
          <div class="ms-2">PICKUP AT ANY STORE</div>
        </div>
        <div class="d-flex justify-content-start mt-2">
          <i class="fa-solid fa-credit-card mt-1" style="color: #1A936F;"></i>
          <div class=" ms-2">SECURED PAYMENT</div>
        </div>
        <div class="d-flex justify-content-start mt-2">
          <i class="fa-solid fa-phone-volume mt-1" style="color: #1A936F;"></i>
          <div class=" ms-2">CALL US ANY TIME</div>
        </div>
        <div class="d-flex justify-content-start mt-2">
          <i class="fa-solid fa-rotate-left mt-1" style="color: #1A936F;"></i>
          <div class=" ms-2">FREE RETURNS</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- team members -->
<div class="our-team py-5">
  <div class="container">
    <div class="subtitle text-center">
      Our creative team
    </div>
    <div class="title text-center h4 mt-1">
      Team Member
    </div>
    <!-- carsoual  -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <!--  -->
          <div class="row">
            <div class="col-4">
              <div class="img d-flex justify-content-center">
                <img src="../../../../assets/img/wommen.png" style="width: 206px; height: 206px; " alt="">
              </div>
              <div class="name  h6 text-center">
                Nada Mohamed Alaa
              </div>
              <div class="job-title text-center">
                Full Stack Developer
              </div>
              <!-- <div class="desc text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque?
              </div> -->
              <div class="social d-flex justify-content-center gap-2 mt-2 text-third">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
            <div class="col-4">
              <div class="img d-flex justify-content-center">
                <img src="../../../../assets/img/wommen.png" style="width: 206px; height: 206px; " alt="">
              </div>
              <div class="name h6 text-center">
                Maha Abd ElHareth
              </div>
              <div class="job-title text-center">
                Full Stack Developer
              </div>
              <!-- <div class="desc text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque?
              </div> -->
              <div class="social d-flex justify-content-center gap-2 mt-2 text-third">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
            <div class="col-4">
              <div class="img d-flex justify-content-center">
                <img src="../../../../assets/img/men.png" style="width: 206px; height: 206px; " alt="">
              </div>
              <div class="name h6 text-center">
                Ahmed Gamal
              </div>
              <div class="job-title text-center">
                Back End Developer
              </div>
              <!-- <div class="desc text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque?
              </div> -->
              <div class="social d-flex justify-content-center gap-2 mt-2 text-third">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-4">
              <div class="img d-flex justify-content-center">
                <img src="../../../../assets/img/wommen.png" style="width: 206px; height: 206px; " alt="">
              </div>
              <div class="name h6 text-center">
                Mariem Osama
              </div>
              <div class="job-title text-center">
                Frontend Developer
              </div>
              <!-- <div class="desc text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque?
              </div> -->
              <div class="social d-flex justify-content-center gap-2 mt-2 text-third">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
            <div class="col-4">
              <div class="img d-flex justify-content-center">
                <img src="../../../../assets/img/men.png" style="width: 206px; height: 206px; " alt="">
              </div>
              <div class="name h6 text-center">
                Mohamed Mustafa
              </div>
              <div class="job-title text-center">
                Full Stack Developer
              </div>
              <!-- <div class="desc text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque?
              </div> -->
              <div class="social d-flex justify-content-center gap-2 mt-2 text-third">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
            <div class="col-4">
              <div class="img d-flex justify-content-center">
                <img src="../../../../assets/img/men.png" style="width: 206px; height: 206px; " alt="">
              </div>
              <div class="name h6 text-center">
                Moahmed Sayed
              </div>
              <div class="job-title text-center">
                Back End Developer
              </div>
              <!-- <div class="desc text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, cumque?
              </div> -->
              <div class="social d-flex justify-content-center gap-2 mt-2 text-third">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <i class="fa-solid fa-circle-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <i class="fa-solid fa-circle-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- team members -->
<!-- Testimonals -->
<div class="row testimonals w-100 text-center p-5">
  <div class="col-md-12">
    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-dark" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <p class="lead font-italic mx-4 mx-md-5">
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
            numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
          </p>
          <div class="mt-5 mb-4">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
              class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100" height="100" />
          </div>
          <p class="text-muted mb-0">- Anna Morian</p>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <p class="lead font-italic mx-4 mx-md-5">
            "Neque cupiditate assumenda in maiores repudiandae mollitia adipisci maiores
            repudiandae mollitia consectetur adipisicing architecto elit sed adipiscing
            elit."
          </p>
          <div class="mt-5 mb-4">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
              class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100" height="100" />
          </div>
          <p class="text-muted mb-0">- Teresa May</p>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <p class="lead font-italic mx-4 mx-md-5">
            "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur est laborum neque cupiditate assumenda in
            maiores."
          </p>
          <div class="mt-5 mb-4">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
              class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100" height="100" />
          </div>
          <p class="text-muted mb-0">- Kate Allise</p>
        </div>
      </div>
      <!-- Inner -->

      <!-- Controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="prev">
        <i class="fa-solid fa-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselBasicExample" data-bs-slide="next">
        <i class="fa-solid fa-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Carousel wrapper -->
  </div>
</div>
<!-- Testimonals -->
